# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build outputs
bin/
build/

# LOGS
*.log

# Vendor deps (if you're vendoring)
vendor/

# IDE / Editor settings
.vscode/
.idea/

# Git
.git/
.gitignore

# OS / system files
.DS_Store

# Docker-related
.dockerignore
Dockerfile
Dockerfile.dev

# Environment files
.env
.env.*

# Caches
.cache/

